<div class="row">
<div class="column-left">
    <h1 id="routine-headline">Create a Routine</h1>

    <%= render 'form' %>

    <%= render partial: "layouts/errors", locals: {object: @routine} %>
</div>
<div class="column-right">
    <img src="../assets/skincare bottles.jpg" alt="skincare-bottles" id="skincare-bottles">
</div>
</div>
