<br>
<div class="text-center">
<h1>Welcome, <%= @user.name %>!</h1>
<p>Welcome to the new and improved DermaLog.<br>
 Log a new skincare routine, keep track of your daily changes,<br> 
 and help us gather the largest database of skincare products, complete with user reviews and recommendations.</p> 
</div>
<br>
<br>
<div class="text-center">
<img src="/assets/shutterstock_1728158860.png" alt="skincare_doodles" width="1200" height="600">
</div>


<%# if you have time: create the glow tip functunality %>