<br>
<h1>Welcome, <%= @user.name %>!</h1>
<p>Welcome to the new and improved DermaLog.<br>
 Log a new skincare routine, keep track of your daily changes,<br> 
 and help us gather the largest database of skincare products, complete with user reviews and recommendations.</p> 

<h3>Your current routine: </h3><br>

<h3>Your most recent log:</h3>
<%# will display your last log %>


<%# if you have time: create the glow tip functunality %>