<h1>Welcome, <%= @user.name %>!</h1>
<p>Welcome to the new and improved DermaLog.<br>
 Log a new skincare routine, keep track of your daily changes,<br> 
 and help us gather the largest database of skincare products, complete with user reviews and recommendations.</p> 



