<br>
<br>
<div class="text-center">
<u><h1>View Products</h1></u>
<br>
<p>We'll continute to update this database from time to time.</p>
<p>Our goal is to eventually collect the most popular skincare products on the market<br>
to eventually collect user reviews in one place. </p>
<br>
<br>
<div>

<% @products.each do |p| %>
<%= p.brand.capitalize %> |
<%= link_to p.name, "/products/#{p.id}"%></a>
<%= p.product_type.capitalize%><br>
<% end %>
</div>