
<div class="product-index">
<h1> View Products </h1>
<% @products.each do |p| %>
<h6><%= p.brand.capitalize %> |
<%= link_to p.name, "/products/#{p.id}"%></a> |
<%= p.product_type.capitalize%><br><h6>
<% end %>
</div>