<br>
<div class="text-center">
<br>
<u><h1>Leave A Review for <%= @product.brand %> | <%= @product.name %></h1></u>
<%= render 'form' %>

<%= render partial: "layouts/errors", locals: {object: @review} %>
</div>